
@font-face {
    font-family: 'cookie-regular';
    src: url('cookie-regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

li {
	list-style-type: none;
    display: inline-block;
    line-height: 1.33;
}

a{
    color:rgb(244, 225, 112);
    text-decoration: inherit;
}

nav{
    position:absolute;
    left: 350px;
    top: 0px;
    text-align: center;
    font-size: 34pt;
    font-family: 'cookie-regular';
}

#resume {
    color:rgb(164, 159, 160);
    font-size: 20px;
    position:inherit;
    margin-top: 75px;
    margin-left: 62%;
}

.menubutton:hover {
    position: relative;
    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: 2s;
    transition-timing-function: ease-in-out;
    color:rgb(164, 159, 160);
}
hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 1px;
    background-color:rgb(244, 225, 112);
    margin: 1em 0;
    padding: 0;
}

#poems {
    color:rgb(164, 159, 160);
    font-size: 14pt;
    position: absolute;
    margin-top: 55px;
    margin-left: 46%;
    text-align: center;
}

#line{
    margin-top: 400px;
    margin: 6em;
}

body{
    color:rgb(244, 225, 112);
}


#aboutme {
    color:rgb(164, 159, 160);
    font-size: 18px;
    height:190px;
    margin-top: 70px;
    margin-left: 34%;
    position:inherit;
}


#bodycopy {
    color: rgb(164, 159, 160);
    background-color: rgb(244, 225, 112);
    width: 450px;
    height: 210px;
    top: 220px;
    margin-left: 36%;
    vertical-align: middle;
    text-align: center;
    position: fixed;
}

#skills {
    color: rgb(164, 159, 160);
    background-color: rgb(244, 225, 112);
    width: 450px;
    height: 240px;
    vertical-align: middle;
    text-align: center;
    position: fixed;
    margin-top: 175px;
    margin-left: 36%;
}

#me {
    position: absolute;
    top: 180px;
    left: 560px;
    margin-left: 31%;
}

#image {
    border-color: rgb(164, 159, 160);
    position: absolute;
    top:180px;
    left:400px;
}

#storylist{
    font-size: 24pt;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100px;
    left: 45%;
    text-align: center;
    top:250px;


}

#contactinfo {
    color:rgb(164, 159, 160);
    font-size: 18pt;
    position: absolute;
    margin-top: 60px;
    margin-left: 40%;
    text-align: center;
}

#next {
    font-family: 'cookie-regular';
    font-size: 50pt;
    color:rgb(164, 159, 160);
    position: absolute;
    right: 20px;
}

#contactform {
    font-family: 'cookie-regular';
    font-size: 20pt;
    color: rgb(164, 159, 160);
    position: absolute;
    height: 550px;
    width: 200px;
    margin-top: 180px;
    left: 44%;
    text-align: center;
    background-color:rgb(244, 225, 112);

}


#haikus {
    color: rgb(164, 159, 160);
    margin-top: 100px;
    width: 200px;
    margin-left: 45%;
    text-align: center;
}

#haiku2 {
    color: rgb(164, 159, 160);
    margin-top: 30px;
    width: 200px;
    margin-left: 45%;
    text-align: center;
}

#haiku3 {
    color: rgb(164, 159, 160);
    margin-top: 30px;
    width: 200px;
    margin-left: 45%;
    text-align: center;
}

#renga {
    color: rgb(164, 159, 160);
    margin-top: 100px;
    width: 200px;
    margin-left: 45%;
    text-align: center;
}

#tankas {
    color: rgb(164, 159, 160);
    margin-top: 100px;
    width: 200px;
    margin-left: 45%;
    text-align: center;
}

#tankas2 {
    color: rgb(164, 159, 160);
    margin-top: 30px;
    width: 200px;
    margin-left: 45%;
    text-align: center;
}

#tankas3 {
    color: rgb(164, 159, 160);
    margin-top: 30px;
    width: 200px;
    margin-left: 45%;
    text-align: center;
}



#back {
    font-family: 'cookie-regular';
    font-size: 50pt;
    color:rgb(164, 159, 160);
    position: absolute;
    left: 15px;
}

#photo {
    width:410px;
    height:360px;
    align-content: center;
    margin-top: 40px;
}

#photo2 {
    width:480px;
    height:360px;
    align-content: center;
    margin-left: -20px;

}
#photo3 {
    width:500px;
    height:360px;
    margin-top: -30px;
    margin-left: -20px;
}
#photo4 {
    width:450px;
    height:340px;
    align-content: center;
    margin-top: -60px;
}
#photo5{
    width:420px;
    height:350px;
    align-content: center;
    margin-top: -120px;
    margin-left: 15px;
}

#photos {
    position:absolute;
    align-content: center;
    margin-left: 35%;
}

.zoom {
    padding: 50px;
    background-color: none;
    transition: transform .2s; /* Animation */
    width: 330px;
    height: 330px;
    margin: 0 auto;
    align-content: center;
}

.zoom:hover {
    transform: scale(1.2);
}

.zoom2 {
    padding: 50px;
    background-color: none;
    transition: transform .2s; /* Animation */
    width: 330px;
    height: 330px;
    margin: 0 auto;
    align-content: center;
}

.zoom2:hover {
    transform: scale(1.1);
}

/*github plz*/
#hyellow {
    font-family: 'cookie-regular';
    font-size: 30pt;
    color:rgb(244, 225, 112);
    position: absolute;
    top: 90px;
    left: 44.7%;

}

#hgrey {
    font-family: 'cookie-regular';
    font-size: 30pt;
    color:rgb(164, 159, 160);
    position: absolute;
    top: 90px;
    left: 45%;
}

#pyellow {
    font-family: 'cookie-regular';
    font-size: 30pt;
    color:rgb(244, 225, 112);
    position: absolute;
    top: 90px;
    left: 39.7%;
}

#pgrey {
    font-family: 'cookie-regular';
    font-size: 30pt;
    color:rgb(164, 159, 160);
    position: absolute;
    top: 90px;
    left: 40%;

}

#wyellow {
    font-family: 'cookie-regular';
    font-size: 30pt;
    color:rgb(244, 225, 112);
    position: absolute;
    top: 90px;
    left: 44.7%;

}

#wgrey {
    font-family: 'cookie-regular';
    font-size: 30pt;
    color:rgb(164, 159, 160);
    position: absolute;
    top: 90px;
    left: 45%;
}


#cyellow {
    font-family: 'cookie-regular';
    font-size: 30pt;
    color:rgb(244, 225, 112);
    position: absolute;
    top: 90px;
    left: 44.7%;

}

#cgrey {
    font-family: 'cookie-regular';
    font-size: 30pt;
    color:rgb(164, 159, 160);
    position: absolute;
    top: 90px;
    left: 45%;
}


/*github plz*/
