
@font-face {
    font-family: 'cookie-regular';
    src: url('cookie-regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

li {
	list-style-type: none;
    display: inline-block;
    line-height: 1.33;
}

a{
    color:rgb(244, 225, 112);
    text-decoration: inherit;
}

nav{
    position: fixed;
    left: 350px;
    top: 0px;
    text-align: center;
    font-size: 30pt;
    font-family: 'cookie-regular';

}
hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 1px;
    background-color:rgb(244, 225, 112);
    margin: 1em 0;
    padding: 0;
}



#line{
    margin-top: 400px;
    margin: 6em
}

body{
    color:rgb(244, 225, 112)
}


#aboutme {
    color:rgb(164, 159, 160);
    font-size: 18px;
    height:190px;
    margin-top: 50px;
    left: 30px;
    position:inherit
}


#bodycopy {
    color: rgb(164, 159, 160);
    background-color: rgb(244, 225, 112);
    width: 400px;
    height: 210px;
    top: 210px;
    left: 50px;
    vertical-align: middle;
    text-align: center;
    position: fixed
}

#me{
    position: fixed;
    top: 230px;
    left: 530px
}

#image {
    border-color: rgb(164, 159, 160);
    position: fixed;
    top:180px;
    left:400px
}

#storylist{
    font-size: 24pt;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100px;
    left: 45%;
    text-align: center;
    top:200px;

}

#contactinfo {
    color:rgb(164, 159, 160);
    font-size: 18pt;
    position: fixed;
    margin-top: 60px;
    margin-left: 40%;
    text-align: center
}

#next {
    font-family: 'cookie-regular';
    font-size: 50pt;
    color:rgb(164, 159, 160);
    position: fixed;
    right: 20px
}

#back {
    font-family: 'cookie-regular';
    font-size: 50pt;
    color:rgb(164, 159, 160);
    position: fixed;
    left: 15px
}

#pyellow {
    font-family: 'cookie-regular';
    font-size: 30pt;
    color:rgb(244, 225, 112);
    position: fixed;
    top: 90px;
    left: 39.7%
}

#pgrey {
    font-family: 'cookie-regular';
    font-size: 30pt;
    color:rgb(164, 159, 160);
    position: fixed;
    top: 90px;
    left: 40%

}

#cyellow {
    font-family: 'cookie-regular';
    font-size: 30pt;
    color:rgb(244, 225, 112);
    position: fixed;
    top: 90px;
    left: 44.7%;

}

#cgrey {
    font-family: 'cookie-regular';
    font-size: 30pt;
    color:rgb(164, 159, 160);
    position: fixed;
    top: 90px;
    left: 45%
}

#wyellow {
    font-family: 'cookie-regular';
    font-size: 30pt;
    color:rgb(244, 225, 112);
    position: fixed;
    top: 90px;
    left: 44.7%
}

#wgrey {
    font-family: 'cookie-regular';
    font-size: 30pt;
    color:rgb(164, 159, 160);
    position: fixed;
    top: 90px;
    left: 45%
}

#hyellow {
    font-family: 'cookie-regular';
    font-size: 30pt;
    color:rgb(244, 225, 112);
    position: fixed;
    top: 90px;
    left: 44.7%

}

#hgrey {
    font-family: 'cookie-regular';
    font-size: 30pt;
    color:rgb(164, 159, 160);
    position: fixed;
    top: 90px;
    left: 45%
}
