
@font-face {
    font-family: 'cookie-regular';
    src: url('cookie-regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

ul{
	list-style-type: none;
    font-size: 20pt;
    font-family: 'cookie-regular';
    color:rgb(244, 225, 112);
	padding-top: 20px;
    margin: 0px;
    padding: 0px;
}

nav{
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 400px;
    text-align: center;
    margin-top: 0px;
    padding: 5opx;
    font-size: 20pt;
    font-family: 'cookie-regular';
    color:rgb(244, 225, 112)

}
hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 1px;
    background-color:rgb(244, 225, 112);
    margin: 1em 0;
    padding: 0;
}

body{
    color:rgb(244, 225, 112)
}


#aboutme {
    color:rgb(164, 159, 160);
    font-size: 16px;
    top: 170;
    position:inherit
}


#bodycopy {
    color: rgb(164, 159, 160);
    background-color: rgb(244, 225, 112);
    width: 300px;
    height: 200px;
    top: 170px;
    left: 50px;
    position: fixed
}

#image {
    border-color: rgb(164, 159, 160);
    width: 270;
    height: 200;
    position: fixed;
    top:160px;
    left: 400px
}
